Поиск
<input
  type="text"
  placeholder="сделать"
  class="form-control mb-2"
  [(ngModel)]="searchText"
>

<app-task
  [task]="_task"
  *ngFor="let _task of tasks | async | taskSearch:searchText"
>
</app-task>

<!-- <button type="button" class="btn btn-outline-warning m-1" (click)="onLoad()">Load tasks</button> -->

<!-- 
  *ngFor="let _task from tasks"
  
  <div class="list-group">
  <app-task
    [task]="_task"
    *ngFor="let _task of (tasksState | async).tasks"
  >
  </app-task>
</div> -->

